$color-txt: #707070;
$link-color: #4776e6;

$black: #000000;
$white: #ffffff;

$color-1: #6bb514;
$color-2: #ff3859;
$color-3: #2b33b2;
$color-4: #2f40b9;
$color-5: #4e8b07;
$color-6: #79cc16;
$color-7: #4776e6;

$link-hover-color: $color-7;
$underline: #969696;
$border: #e7e7e7;
$border-1: #707070;

$alert: #cc1616;
$alert-text: #ff4d24;

$bgr: #061c31;
$bgr-1: #3553c2;
